.target {
    width: 20px;
    height: 20px;
    border: 1px solid #808080;
}

/* FIXME: Remove these rules */
.goal-0 {
    background-color: #aaaaaa;
}

.goal-1 {
    background-color: #cccccc;
}

.goal-2 {
    background-color: #eeeeee;
}
